/*
George Tiersma's Portfolio Website - CSS

This document is property of George Tiersma.
*/

/*
Each section below is sorted alphabetically.
*/

/*
----- GENERAL ELEMENT TYPES -----
*/

body
{
    margin: 0;
}

button
{
    /* COLOR */
    background-color: #FFFFFF;
    color: #119911;
    border: 2px solid #119911;
    
    /* CURSOR */
    cursor: pointer;
    
    /* POSITION */
    text-align: center;
    
    /* SIZE */
    font-size: 2.5vw;
    height: 60px;
    width: 30vw;
}

circle
{
    transition: all 1s linear;
}

footer
{
    /* COLOR */
    background-color: #005500;
    color: #FFFFFF;
    
    /* POSITION */
    text-align: center;
    padding: 1vw 0 1vw 0;
}

h2
{
    color: #004400;
    display: inline-block;
}

h4
{
    margin: 1vw;
}


/*
----- CLASSES -----
*/

/* The bulleted list of facts for each skill */
.bulleted
{
    list-style-type: square;
}

/* The div that contains a textButton and its animated div */
.buttonContainer
{
    margin-bottom: 100px;
    position: relative;
}

/* Lists of projects and skills */
.list
{
    list-style-type: none;
    padding-bottom: 15vh;
}

/* Each project or skill listed */
.list li
{
    margin: 5vh 25px 0 0;
}

/* Top title text */
.name
{
    /* FONT */
    font-size: 10vw;
    font-weight: 1000;
    letter-spacing: -0.5vw;
    
    /* POSITION */
    margin: 0;
}

/* Arrow buttons for browsing through the projects */
.next, .previous
{
    cursor: pointer;
    transition: all 1s linear;
}

/* Image of the project */
.previewImage
{
    /* ANIMATION */
    transition: opacity 1s linear;
    
    /* BORDER */
    border-color: #119911;
    border-style: solid;
    border-width: 5px;
    
    /* POSITION */
    display: inline-block;
    margin: 0 5vh 0 5vh;
    
    /* SIZE */
    width: 50vw;
}

/* Button used to view/download a project */
.projectButton
{
    left: 25vw;
}

/* Div containing project elements that may be shown or hidden by the user */
.projectContent
{
    /* ANIMATION */
    height: 0;
    opacity: 0;
    transition: all 1s linear;
    
    /* COLOR */
    background-color: #EEEEEE;
    
    /* CORNERS */
    border-radius: 25px;
    
    /* POSITION */
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    text-align: center;
    
    /* SIZE */
    width: 80vw;
}

/* Container for a skill rating's graphic */
.ratingContainer
{
    /* POSITION */
    display: inline-block;
    float: right;
    margin-top: 5px;
    
    /* SIZE */
    height: 50px;
    width: 300px;
}

/* The button for viewing the resume */
.resumeButton
{
    left: 35vw;
}

/* Button used to show or hide the content of a project or skill */
.showHide
{
    /* ANIMATION */
    box-shadow: 5px 5px #000000;
    transition: all 0.5s linear;
    
    /* CIRCLE */
    border-radius: 50px;
    
    /* COLOR */
    background-color: #119911;
    color: #FFFFFF;
    
    /* POSITION */
    margin: 0 30px 5px 10px;
    padding: 0 15px 0 15px;
    
    /* SIZE */
    font-size: 36pt;
    width: 60px;
}

/* A skill in the list of skills */
.skill
{
    margin: 0;
}

/* The list of facts relating to a particular skill that may be shown or hidden by the user */
.skillContent
{
    /* ANIMATION */
    opacity: 0;
    transition: opacity 1s linear;
    
    /* POSITION */
    margin-left: auto;
    margin-right: auto;
    padding: 30px 10px 10px 10px;
    
    /* SIZE */
    width: 60vw;
}

/* The star polygon used in a rating graphic (including the shading)*/
.star
{
    transform: rotate(180deg) scale(0.8) translate(5px, 5px);
    transition: transform 0.5s linear;
}

/* The background behind each star graphic in a skill's rating */
.starBack
{
    position: absolute;
}

/* The container for a star graphic and its background for a skill's rating */
.starContainer
{
    /* POSITION */
    display: inline-block;
    margin: auto 3px auto 3px;
    position: relative;
    
    /* SIZE */
    height: 50px;
    width: 50px;
}

/* The star graphic for the skill's ratings */
.starFront
{
    position: absolute;
    z-index: 1;
}

/* The hexagon graphic that is placed behind a star graphic in a skill's rating */
.starHexagonFront
{
    transform: scaleX(0);
    transition: transform 0.5s linear;
}

/*
----- IDENTIFIERS -----
*/

/* The section of the website containing the biographical summary */
#about
{
    /* COLOR */
    background-color: #CCFFCC;
    color: #004400;
    
    /* POSITION */
    padding: 5vw 5vw 10vw 5vw;
    line-height: 150%;
}

/* The div that animates when a textButton is hovered over by the cursor */
#buttonAnimation
{
    /* ANIMATION */
    transition: all 1s linear;
    
    /* CURSOR */
    cursor: pointer;
    
    /* COLOR */
    border: 0 solid #119911;
    
    /* POSITION */
    position: absolute;
    top: 0;
    
    /* SIZE */
    height: 60px;
    width: 30vw;
}

/* The first name used in the title */
#firstName
{
    padding: 100px 0 0 30vw;
}

/* The top, introductory part of the website */
#home
{
    padding: 0 0 15vw 0;
}

/* The last name used in the title */
#lastName
{
    position: relative;
    padding: 0 0 50px 45vw;
    top: -5vw;
}

/* The background graphic for the title text (Feature not yet implemented) */
#nameBack
{
    position: absolute;
}

/* The navigation menu found at the top of the viewport */
#nav
{
    /* ANIMATION */
    transition: background 3s linear;
    
    /* COLOR */
    background-color: #AAFFAAEE;
    
    /* FORMAT */
    list-style-type: none;
    
    /* POSITION */
    position: fixed;
    text-align: center;
    left: 0;
    top: 0;
    margin: 0 0 10px 0; 
    padding: 0;
    z-index: 10;
    
    /* SIZE */
    font-size: 18pt;
    width: 100%;
}

/* Each option in the navigation menu */
#nav li
{
    /* CURSOR */
    cursor: pointer;
    
    /* POSITION */
    display: inline-block;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

/* The text of each option in the navigation menu */
#nav li h5
{
    /* FONT */
    font-family: "Arial", "Helvetica", "sans-serif";
    
    /* COLOR */
    color: #119911;
    
    /* POSITION */
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
}

/* The text below the title containing the occupation */
#occupation
{
    /* ANIMATION */
    border-bottom: 3px solid #119911;
    border-width: 0;
    transition: border 0.5s linear;
    
    /* FONT */
    font-weight: 10;
    
    /* POSITION */
    margin-bottom: 30vh;
    position: relative;
    text-align: center;
    top: 20vh;
}

/* The website sections containing the projects and skills */
#projects, #skills
{
    color: #004400;
    padding: 5vw 0 10vw 5vw;
}

/* The website section containing the skills */
#skills
{
    background-color: #EEEEEE;
    color: #005500;
}

/* Each skill in the lists */
#skills ul li
{
    /* ANIMATION */
    transition: all 1s linear;
    
    /* COLOR */
    background-color: #FFFFFF;
    
    /* EDGES */
    border-radius: 50px;
    
    /* POSITION */
    margin-bottom: 10px;
    padding: 5px 0 5px 0;
}

/* A button that contains a word(s)*/
#textButton
{
    position: absolute;
}

/* The background image behind the title */
#topGraphic
{
    /* POSITION */
    position: absolute;
    top: 150px;
    width: 80vw;
    z-index: -10;
}

#wrapper
{
    font-family: "Arial", "Helvetica", "sans-serif";
}