/*
George Tiersma's Portfolio Website - CSS
*/

/*
Each section below is sorted alphabetically.
*/

/*

Notes:

- "opacity: 0.99" is commonly used in this document to bring an element to the front of the stacking order.

- Some properties are used twice for a given element: The first time with a "%" unit, the second with "vw" or "vh". This allows browsers that do not support "vw" or "vh" to fall back to "%".
*/

/*
----- GENERAL ELEMENT TYPES -----
*/

body
{
    margin: 0;
    overflow-x: hidden;
}

button
{
    /* COLOR */
    background-color: #FFF;
    border: 2px solid #060;
    color: #060;
    
    /* CURSOR */
    cursor: pointer;
    
    /* POSITION */
    text-align: center;
    
    /* SIZE */
    font-size: 18pt;
    height: 60px;
    width: 25%;
    width: 25vw;
}

circle
{
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

footer
{
    /* COLOR */
    background-color: #060;
    color: #FFF;
    
    /* POSITION */
    padding: 1% 0 1% 0;
    padding: 1vw 0 1vw 0;
    text-align: center;
}

h1
{
    position: relative;
    z-index: 1;
}

h2
{
    color: #030;
    display: inline-block;
}

h3
{
    font-size: 24pt;
}

h4
{
    margin: 1%;
    margin: 1vw;
}

h6
{
    position: relative;
}

html
{
    scroll-behavior: smooth;
}

p
{
    position: relative;
    z-index: 1;
}

/*
----- CLASSES -----
*/

/* The occupation text that is used when JavaScript is running */
.animatedOccupation
{
    /* ANIMATION */
    letter-spacing: 0;
    opacity: 0;
    transition: all 8s linear;
    -webkit-transition: all 3s linear;
}

/* The bulleted list of facts for each skill */
.bulleted
{
    list-style-type: square;
}

/* The div that animates when a textButton is hovered over by the cursor */
.buttonAnimation
{
    /* ANIMATION */
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    
    /* COLOR */
    border: 0 solid #090;
    
    /* CURSOR */
    cursor: pointer;
    
    /* POSITION */
    position: absolute;
    top: 0;
    
    /* SIZE */
    height: 60px;
    width: 30%;
    width: 30vw;
}

/* The div that contains a textButton and its animated div */
.buttonContainer
{
    margin-bottom: 100px;
    position: relative;
    visibility: hidden;
}

/* The SVG graphic that is used to divide sections of the website */
.divider
{
    /* SIZE */
    height: 0;
    width: 100%;
    width: 100vw;
    
    /* POSITION */
    position: absolute;
    
    /* VISIBILITY */
    visibility: hidden;
}

/* Contains a section divider element */
.dividerContainer
{
    margin-bottom: -1%;
    margin-bottom: -1vh;
    position: relative;
}

/* Top title text */
.name
{
    /* FONT */
    font-size: 10%;
    font-size: 10vw;
    font-weight: 900;
    letter-spacing: -0.5;
}

/* The layer of the title text containing the animated lights */
.nameLayer2
{
    fill: url(#nameLights);
}

/* The layer of the title text containing the hexagons */
.nameLayer3
{
    fill: url(#hexagonPattern);
}

/* Arrow buttons for browsing through the projects */
.next, .previous
{
    cursor: pointer;
    height: 10%;
    height: 10vw;
    width: 10%;
    width: 10vw;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

/* Elements that are only shown if JavaScript fails to execute */
.noJavaScript
{
    list-style-type: none;
}

/* Containers of data relating to a project that are shown if JavaScript fails to execute */
.noJavaScript .projectContent
{
    /* COLOR */
    opacity: 1.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    
    /* POSITION */
    margin-bottom: 1%;
    margin-bottom: 1vh;
    
    /* SIZE */
    height: auto;
}

/* The text below the title containing the occupation */
.occupation
{
    /* FONT */
    font-size: 24pt;
    font-weight: 1000;
    
    /* POSITION */
    margin-bottom: 15%;
    margin-bottom: 15vh;
    margin-top: 5%;
    margin-top: 5vh;
    position: relative;
    text-align: center;
}

/* Image of the project */
.previewImage
{
    /* ANIMATION */
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
    
    /* BORDER */
    border-color: #060;
    border-style: solid;
    border-width: 5px;
    
    /* CURSOR */
    cursor: pointer;
    
    /* POSITION */
    display: inline-block;
    margin: 0 1% 0 1%;
    margin: 0 1vw 0 1vw;
    z-index: 15;
    
    /* SIZE */
    width: 50%;
    width: 50vw;
}

/* Button used to view/download a project */
.projectButton
{
    /* POSITION */
    left: 25%;
    left: 25vw;
    
    /* SIZE */
    width: 30%;
    width: 30vw;
}

/* Container of project elements that may be shown or hidden by the user */
.projectContent
{
    /* ANIMATION */
    height: 0;
    opacity: 0;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    
    /* COLOR */
    background-color: #CCC;
    
    /* CORNERS */
    border-radius: 25px;
    
    /* POSITION */
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    padding: 1vw;
    text-align: center;
    
    /* SIZE */
    width: 80%;
    width: 80vw;
}

/* Container for a skill rating's graphic */
.ratingContainer
{
    /* POSITION */
    display: inline-block;
    float: right;
    margin-top: 5px;
    
    /* SIZE */
    height: 50px;
    width: 300px;
}

/* The button for viewing the resume */
.resumeButton
{
    /* POSITION */
    left: 35%;
    left: 35vw;
    
    /* SIZE */
    width: 30%;
    width: 30vw;
}

/* Lists of buttons to show or hide the content of projects or skills */
.showButtonList
{
    list-style-type: none;
    padding-bottom: 15%;
    padding-bottom: 15vh;
}

/* List item element belonging to each show/hide button */
.showButtonList li
{
    /* POSITION */
    margin: 5% 25px 0 0;
    margin: 5vh 25px 0 0;
    position: relative;
    z-index: 1;
}

/* Button used to show or hide the content of a project or skill */
.showHide
{
    /* ANIMATION */
    box-shadow: 5px 5px #000;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    
    /* CIRCLE */
    border-radius: 50px;
    
    /* COLOR */
    background-color: #090;
    color: #FFF;
    
    /* POSITION */
    margin: 0 30px 5px 10px;
    position: relative;
    
    /* SIZE */
    width: 60px;
    
    /* VISIBILITY */
    visibility: hidden;
}

/* The + or - character within the show/hide buttons */
.showHide span
{
    font-size: 36pt;
}

/* A skill in the list of skills */
.skill
{
    margin: 0;
    position: absolute;
    top: 20px;
}

/* The list of facts relating to a particular skill that may be shown or hidden by the user */
.skillContent
{
    /* POSITION */
    margin-left: auto;
    margin-right: auto;
    padding: 30px 10px 10px 10px;
    
    /* SIZE */
    width: 60%;
    width: 60vw;
}

/* Paragraphs used for describing the soft skills */
.skillContent p
{
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

/* Lists for hard skills */
.skillContent ul
{
    list-style-image: url("marker.gif");
}

/* Each list item for hard skills */
.skillContent ul li
{
    margin: 10px;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

/* Fixes an issue with a margin appearing on the right side of the webpage on smart devices in landscape orientation */
.star, .starBack, .starContainer, .starFront
{
    width: 50px;
}

/* The star polygon used in a rating graphic (including the shading) */
.star
{
    /* ANIMATION */
    transform: rotate(180deg) scale(0.8) translate(5px, 5px);
    transition: transform 0.5s linear;
    -webkit-transform: rotate(180deg) scale(0.8) translate(5px, 5px);
    -webkit-transition: transform 0.5s linear;
}

/* The background behind each star graphic in a skill's rating */
.starBack
{
    position: absolute;
}

/* The container for a star graphic and its background for a skill's rating */
.starContainer
{
    /* POSITION */
    display: inline-block;
    margin: auto 3px auto 3px;
    position: relative;
    
    /* SIZE */
    height: 50px;
    width: 50px;
}

/* The star graphic for the skill's ratings */
.starFront
{
    position: absolute;
    z-index: 1;
}

/* The hexagon graphic that is placed behind a star graphic in a skill's rating */
.starHexagonFront
{
    /* ANIMATION */
    transform: scaleX(0);
    transition: transform 0.5s linear;
    -webkit-transform: scaleX(0);
    -webkit-transition: transform 0.5s linear;
}

/* A button that contains a word(s)*/
.textButton
{
    position: absolute;
}

/* An animated light in the title text */
.titleLight
{
    /* COLOR */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    
    /* FILTERS */
    filter: url(#blur);
    -webkit-filter: url(#blur);
}

/*
----- IDENTIFIERS -----
*/

/* The section of the website containing the biographical summary */
#about
{
    /* COLOR */
    background-color: #CFC;
    color: #030;
    
    /* POSITION */
    line-height: 150%;
    padding: 10% 5% 15% 5%;
    padding: 10vh 5vw 15vh 5vw;
}

/* The close button that appears when an image is enlarged */
#close
{
    /* ANIMATION */
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    
    /* BORDER */
    border-color: #000;
    border-radius: 50px;
    border-width: 3px;
    
    /* COLOR */
    background-color: #0000;
    color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    
    /* CURSOR */
    cursor: pointer;
    
    /* FONT */
    font-size: 2vw;
    font-weight: 900;
    
    /* POSITION */
    position: fixed;
    right: 5%;
    top: 5%;
    right: 5vw;
    top: 5vh;
    z-index: 25;
    
    /* SIZE */
    height: 5%;
    width: 5%;
    height: 5vw;
    width: 5vw;
}

/* Div to darken the webpage behind a project preview when the preview is enlarged */
#darkBackground
{
    /* ANIMATION */
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    
    /* COLOR */
    background-color: #000;
    
    /* POSITION */
    left: 0;
    top: 0;
    position: fixed;
    
    /* SIZE */
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
}

/* The text of the first name in the title that is rendered if JavaScript does not run */
#firstNameNoJS
{
    /* POSITION */
    left: 35%;
    top: 10%;
    left: 35vw;
    top: 3vw;
}

/* The text of the names in the title that is rendered if JavaScript does not run */
#firstNameNoJS, #lastNameNoJS
{
    /* FONT */
    font-size: 200%;
    font-size: 10vw;
    
    /* POSITION */
    position: absolute;
}

/* The top, introductory part of the website */
#home
{
    /* POSITION */
    opacity: 0.99;
    padding: 0 0 15% 0;
    padding: 0 0 15vw 0;
}

/* The text of the last name in the title that is rendered if JavaScript does not run */
#lastNameNoJS
{
    /* POSITION */
    left: 45%;
    top: 20%;
    left: 45vw;
    top: 15vw;
}

/* The container of the text title elements (used when JavaScript does not run) */
#nameNoJS
{
    font-size: 36pt;
    font-weight: 900;
}

/* The SVG graphic containing the website's title text */
#nameGraphic
{
    /* SIZE */
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
}

/* The navigation menu found at the top of the viewport */
#nav
{
    /* ANIMATION */
    -webkit-transition: all 3s linear;
    transition: all 3s linear;
    
    /* COLOR */
    background-color: #9F9;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    
    /* FORMAT */
    list-style-type: none;
    
    /* POSITION */
    position: fixed;
    text-align: center;
    left: 0;
    top: 0;
    margin: 0 0 10px 0; 
    padding: 0;
    z-index: 20;
    
    /* SIZE */
    font-size: 18pt;
    width: 100%;
}

/* Each option in the navigation menu */
#nav li
{
    /* CURSOR */
    cursor: pointer;
    
    /* POSITION */
    display: inline-block;
    padding: 20px 0 20px 0;
}

/* The text of each option in the navigation menu */
#nav li a
{
    /* FONT */
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    
    /* COLOR */
    color: #060;
    
    /* POSITION */
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
}

/* The website sections containing the projects */
#projects
{
    color: #030;
    padding: 5% 0 10% 5%;
    padding: 5vw 0 10vw 5vw;
}

/* The list of show/hide buttons for projects. */
#projects .showButtonList
{
    height: 0;
    visibility: hidden;
}

/* The website section containing the skills */
#skills
{
    /* COLOR */
    background-color: #CCC;
    color: #030;
    
    /* POSITION */
    padding: 5% 0 10% 5%;
    padding: 5vw 0 10vw 5vw;
}

/* Each skill in the lists */
#skills ul li
{
    /* ANIMATION */
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    
    /* COLOR */
    background-color: #FFF;
    
    /* EDGES */
    border-radius: 50px;
    
    /* POSITION */
    margin-bottom: 10px;
    padding: 5px 0 5px 0;
    position: relative;
}

/* The background image behind the title */
#topGraphic
{
    /* POSITION */
    position: absolute;
    top: 150px;
    width: 80%;
    width: 80vw;
    z-index: -5;
}

#wrapper
{
    font-family: "Arial", "Helvetica", "sans-serif";
}

/*
----- RESPONSIVE ATTRIBUTES -----
*/
@media only screen and (max-width: 1000px)
{
    .ratingContainer
    {
        display: block;
        float: none;
        padding: 25px 0 0 50px;
    }
}

@media only screen and (max-width: 750px)
{
    .occupation
    {
        margin-top: -15%;
        margin-top: -15vh;
    }
}

@media only screen and (max-width: 500px)
{
    #firstNameNoJS
    {
        left: 15%;
        left: 35vw;
        top: 300px;
    }
    
    #firstNameNoJS, #lastNameNoJS
    {
        font-size: 150%;
        font-size: 10vw;
    }
    
    #lastNameNoJS
    {
        left: 25%;
        left: 45vw;
        top: 375px;
    }
    
    #nameGraphic
    {
        height: 30%;
        height: 30vh;
    }
    
    #nav
    {
        position: static;
    }
    
    #nav li
    {
        display: inherit;
    }
    
    #topGraphic
    {
        top: 300px;
    }
    
    .name
    {
        font-size: 15vw;
    }
    
    .occupation
    {
        margin-top: 10%;
        margin-top: 10vh;
    }
}

/* Prevents multiple titles from showing up in IE */
:-ms-lang(x), #nameGraphic
{
    opacity: 0;
}